/.idea/.idea.ZS/.idea/inspectionProfiles/Project_Default.xml
/.idea/.idea.ZS/.idea/.gitignore
/.idea/.idea.ZS/.idea/encodings.xml
/.idea/.idea.ZS/.idea/indexLayout.xml
/.idea/.idea.ZS/.idea/vcs.xml
/.idea/easycode.ignore

/Saved/
/Intermediate/
/DerivedDataCache/
/Binaries/
/Content/__ExternalActors__/
/Content/__ExternalObjects__/
/Content/Characters/
/Content/Collections/
/Content/Developers/
/Content/Input/
/Content/LevelPrototyping/
/Content/ThirdPerson/
/Content/Variant_Combat/
/Content/Variant_Platforming/
/Content/Variant_SideScrolling/
/Source/ZS/Variant_Combat/
/Source/ZS/Variant_Platforming/
/Source/ZS/Variant_SideScrolling/
