/.idea/.idea.ZS/.idea/inspectionProfiles/Project_Default.xml
/.idea/.idea.ZS/.idea/.gitignore
/.idea/.idea.ZS/.idea/encodings.xml
/.idea/.idea.ZS/.idea/indexLayout.xml
/.idea/.idea.ZS/.idea/vcs.xml
/.idea/easycode.ignore

/Saved/
/Intermediate/
/DerivedDataCache/
/Binaries/
/Content/__ExternalActors__/
/Content/__ExternalObjects__/
/Content/Characters/
/Content/Collections/
/Content/Developers/
/Content/Input/
/Content/LevelPrototyping/
/Content/ThirdPerson/
/Content/Variant_Combat/
/Content/Variant_Platforming/
/Content/Variant_SideScrolling/
/Source/ZS/Variant_Combat/
/Source/ZS/Variant_Platforming/
/Source/ZS/Variant_SideScrolling/
/Content/Fab/
/Content/Dwarven_city/
/Content/StylizedlogCabin_A1/
/Content/Mixed_Magic_VFX_Pack/
/Content/UI/
/Content/Audio/
/Content/FreeMaterialPack/
/Content/Effects/
/Content/ContextEffects/
/Content/Weapons/
/Content/PhysicsMaterials/

/Content/ParagonMaleAnnouncer/
/Content/ParagonProps/
/Content/Lighting/
/Content/GameplayEffects/

/Content/KiteDemo/
/Content/ParagonTwinblast/
/Content/ParagonPhase/
/Content/CombatMagicAnims/
/Content/SpectraFXBundle/
/Content/MonsterForSurvivalGame/
/Content/CrosshairFreePack/


